{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block account_top %}
    <h1>Sign Up</h1>
    {% url 'account_signup' as signup_url %}
    {% element form form=form method="post" action=signup_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,signup" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock account_top %}
<!-- Removed extra duplicate block -->
