fastapi
uvicorn
sqlalchemy
databases
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
aiosqlite
jinja2
alembic
django
mysqlclient
django-tables2
pandas
gunicorn
dj-database-url
psycopg2