{% extends 'layouts/blank.html' %}

{% block content %}
<div class="max-w-4xl mx-auto px-8 py-24">
    {% comment %} <h1>Dashboard</h1> {% endcomment %}
    <section class="mb-12">
        <h2 class="text-2xl font-bold mb-4">Upcoming Matches</h2>
        {% if upcoming_matches %}
            <ul>
                {% for match in upcoming_matches %}
                    <li>{{ match }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No upcoming matches.</p>
        {% endif %}
    </section>
    <section>
        <h2 class="text-2xl font-bold mb-4">Previous Matches</h2>
        {% if previous_matches %}
            <ul>
                {% for match in previous_matches %}
                    <li>{{ match }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No previous matches.</p>
        {% endif %}
    </section>
</div>
{% endblock %}